/* *************************************************** */
/* TABLE OF CONTENTS *


MEDIA QUERIES:

 */
/* *************************************************** */


/* general */
/* *************************************************** */
html, body {
    background-color: #f3f2f0;
    margin: 0 auto;
    height: 100%;
    width: 100%
}

h1, h2 {
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 35px;
    padding: 0px;
    margin: 0px;
}


h4 {
    font-family: 'Caladea', serif;
    /* font-weight: 800; */
    margin: 0px;
    padding: 0px;
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-family: 'Caladea', serif;
    font-size: 20px;
    line-height: 40px;
    margin-right: 25px;
    margin-left: 10px;
}

/* *************************************************** */

/* NAVBAR */
/* *************************************************** */
#navbar {
    position: fixed;
    right: 15px;
    top: 350px;
    z-index: 5;
    font-size: 26px;
    line-height: 35px;
    text-align: right;
}

a:link {
    text-decoration: none;
}

a:visited {
    color:#777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* font-size: 26px;
    line-height: 35px;
    text-align: right; */
}

a:hover {
    color: #0e4747;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/* font-size: 26px; */
    font-weight: bold;
    /* line-height: 35px;
    text-align: right; */
}

a:active {
    color: #777777;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	/* font-size: 26px; */
    font-weight: bold;
    /* line-height: 35px;
    text-align: right; */
} 
/* *************************************************** */


/* COLOR BLOCKS */
/* *************************************************** */
#red {
    background-color: rgb(231, 131, 165);
    z-index:1;
    position: absolute;
    top: 85px;
    left: 400px;
    height: 640px;
    width: 850px;
}

#yellow {
    background-color: rgba(253, 213, 36, 0.548);
    z-index:2;
    position: absolute;
    top: 10px;
    left: 150px;
    height: 744px;
    width: 400px; 
}

#blue {
    background-color: rgba(73, 165, 165, 0.918);
    z-index:4;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 300px;
    width: 500px; 
}
/* *************************************************** */


/* *************************************************** */
.bodycopy {
    padding: 0px 28px 0px 0px;
    line-height: 28px;
}
/* *************************************************** */


/* HOME */
/* *************************************************** */
#home {
    background-color: #ffffff;
    position: relative;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 0px;
}

#self-portrait {
    width: 800px;
    height: 510px;
}
/* *************************************************** */


/* INTRO */
/* *************************************************** */
#intro {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

#bio-image {
    width: 200px;
    height: 200px;;
    padding: 0px 20px 0px 10px;
    float: left;
}
/* *************************************************** */

/* PROJECT */
/* *************************************************** */
#project {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.hw1 {
    /* background-image: url('https://via.placeholder.com/200'); */
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    margin-left: 20px;
    float: left;
}

.hw2 {
    /* background-image: url('https://via.placeholder.com/200'); */
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    margin-left: 25px;
    float: left;
}

.hw3 {
    /* background-image: url('https://via.placeholder.com/200'); */
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both; */

    margin-left: 30px;
    float: left;
}

.hw4 {
    /* background-image: url('https://via.placeholder.com/150'); */
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */

    /* margin: 54px 0px 0px 30px;
    float: left; */

    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both; */

    margin-left: 35px;
    float: left;
}

.hw5 {
    /* background-image: url('https://via.placeholder.com/150'); */
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    margin: 30px 0px 0px 20px;
    float: left;
    clear: both;

    /* margin: 54px 0px 0px 30px;
    float: left; */
}

.hw6 {
    /* background-image: url('https://via.placeholder.com/150'); */
    /* margin: 54px 0px 0px 60px;
    float: left; */

    margin: 30px 0px 0px 25px;
    float: left;
}

.hw7 {
    /* background-image: url('https://via.placeholder.com/150'); */
    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both; */

    margin: 30px 0px 0px 30px;
    float: left;
}

.hw8 {
    /* background-image: url('https://via.placeholder.com/150'); */
    /* margin: 54px 0px 0px 30px;
    float: left; */

    margin: 30px 0px 0px 35px;
    float: left;
    /* clear: both; */
}

/* .hw9 {
    /* background-image: url('https://via.placeholder.com/150'); */
    /* margin: 54px 0px 0px 60px;
    float: left; */

    /* margin: 30px 0px 0px 20px;
    float: left;
    clear: both;
} */ 

/* .hw10 {
    background-image: url('https://via.placeholder.com/150');
} */

/* *************************************************** */


/* ARTWORK */
/* *************************************************** */
#art {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

img {
    height: 150px;
}

.artwork1 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    margin-left: 20px;
    float: left;
}

.artwork2 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    margin-left: 25px;
    float: left;
}

.artwork3 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    
    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;   */

    margin-left: 30px;
    float: left;
}

.artwork4 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    /* margin: 54px 0px 0px 30px;
    float: left; */

    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;     */

    margin-left: 35px;
    float: left;
}

.artwork5 {
    /* background-size: 264px 196px;
    width: 264px;
    height: 196px; */
    
    margin: 30px 0px 0px 20px;
    float: left;
    clear: both;  

    /* margin: 54px 0px 0px 30px;
    float: left; */
}

.artwork6 {
    /* margin: 54px 0px 0px 30px;
    float: left; */

    margin: 30px 0px 0px 25px;
    float: left;
}

.artwork7 {
    margin: 30px 0px 0px 30px;
    float: left;
    /* clear: both; */
}

.artwork8 {
    margin: 30px 0px 0px 35px;
    float: left;
}

/* .artwork9 { */
    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;  */

    /* margin: 54px 0px 0px 60px;
    float: left;
} */

/* .artwork10 { */
    /* margin: 54px 0px 0px 30px;
    float: left; */

    /* margin: 54px 0px 0px 10px;
    float: left;
    clear: both;
} */
/* *************************************************** */


/* CONTACT PAGE */
/* *************************************************** */

#contact {
    background-color: #ffffff;
    position: absolute;
    top: 150px;
    left: 300px;
    z-index: 3;
    width: 740px;
    height: 480px;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

label {
    color: #777777;
    font-family: 'Arial', 'Hevetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

input[type=text], select {
    width: 710px;
    height: 36px;
    border: 1px solid #dddddd;
    margin: 10px 0px 20px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

input[type=email], select {
    width: 710px;
    height: 36px;
    border: 1px solid #dddddd;
    margin: 10px 0px 20px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

#message {
    width: 710px;
    height: 90px;
    padding: 6px;
    border: 1px solid #dddddd;
    margin: 10px 0px 0px 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

input[type=submit] {
    width: 116px;
    height: 40px;
    margin: 20px 0px 0px 10px;
    background-color: #eba57f;
    border: none;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
}
/* *************************************************** */

/* *------* MEDIA QUERIES *------* */
/* *************************************************** */
/* LARGE TABLET SIZE */
/* *************************************************** */
@media screen and (max-width: 980px) {
    body {
        font-size: 16px;
    }

    p {
        margin-bottom: 0px;
        line-height: 28px;
    }

    #main {
        max-width: 580px;
    }

    #portfolio {
        max-width: 580px;
    }

    #form {
        max-width: 580px;
    }

    input[type=email], select {
        width: 560px;
        height: 36px;
    }

    input[type=text], select {
        width: 560px;
        height: 36px;
    }

    #message {
        width: 550px;
        height: 190px;
    }

/*     
    #logo {
        width: 170px;
        font-size: 16px;
        height: 15px;
    } */

    .navlinks {
        float: right;
        margin-right: 80px;
    }

    header {
        width: 100%;
        height: 75px; 
    }

    .container {
        width: 960px;
        margin-left: 60px;
    }

    #bio-image {
        width: 200px;
        margin-bottom: 16x;
    }

    /* hr {
        border-top: 3px solid #dddddd;
        width: 560px;
        margin: 36px 0px 30px 10px;
    } */
}
/* *************************************************** */


/* SMALL TABLET SIZE */
/* *************************************************** */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
      }

    p {
        margin-bottom: 0px;
    }

    #portfolio {
        max-width: 700px;
        height: 1050px;
    }

    #contact {
        max-width: 700px;
    }

    input[type=email], select {
        width: 680px;
        height: 36px;
    }
    
    input[type=text], select {
        width: 680px;
        height: 36px;
    }
    
    #message {
        width: 670px;
        height: 190px;
    }

    header {
        width: 100%;
        height: 75px;
    }

    #logo {
        width: 230px;
        height: 15px;
        font-size: 16px;
        float: left;
    }

    .navlinks {
        float: right;
        
    }

    #main {
        max-width: 700px; 
        padding-top: 20px;
    }

    .container {
        width: 740px;
        margin: 0 auto;
    }

    #bio-image {
        width: 150px;
        height: 150px;
        margin-bottom: 16px;
    }

    hr {
        border-top: 3px solid #dddddd;
        width: 680px;
        margin: 36px 0px 30px 10px;
    }

    article {
        background-color: #eba57f;
        width: 320px;
        height: 60px;
        margin-top: 200px;
    }

    .hw1 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 10px;
        float: left;
    }

    .hw2 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 40px;
    }
    
    .hw3 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 10px;
        float: left;
    }

    .hw4 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 40px;
    }

    .hw5 {
        background-size: 320px 270px;
        width: 320px;
        height: 270px;
        margin-left: 10px;
        float: left;
    }  
}
/* *************************************************** */

/* MOBILE DEVICE SIZE */
/* *************************************************** */
@media screen and (max-width: 640px) {
    body {
        font-size: 16px;
        width: 100%;    
    }

    p {
        margin-bottom: 0px;
    }

    header {
        width: 640px;
        padding-bottom: 90px;
        text-align: center;
    }

    header {
        top: 0;
    }

    #logo {
        width: 580px;
        height: 30px;
        float: left;
        margin-left: -10px;
        
    }
    nav {
        margin: 0 auto;
        padding: 80px;
    }

    #main {
        max-width: 560px;
        height: 900px;
        margin: 0 auto;
        margin-top: 30px;
    }

    #portfolio {
        max-width: 560px;
        margin: 0 auto;
        margin-top: 30px;
        height: 2600px;
    }

    #contact {
        max-width: 560px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .container {
        width: 620px;
        margin: 0 auto;
    }

    #bio-image {
        width: 540px;
        height: 450px;
        margin-bottom: 16px;
    }

    hr {
        border-top: 3px solid #dddddd;
        width: 540px;
        margin: 36px 0px 30px 10px;
    }

    article {
        background-color: #eba57f;
        width: 540px;
        height: 60px;
        margin-top: 380px;
    }

    .WGG {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin-left: 10px;
        float: left;
    }

    .CC {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin: 40px 0px 0px 10px;

    }

    .Trivia {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin-left: 10px;
        float: left;
    }

    .Rutgers {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin: 40px 0px 0px 10px;
    }

    .RPS {
        background-size: 540px 450px;
        width: 540px;
        height: 450px;
        margin-left: 10px;
        float: left;
    }  

    input[type=email], select {
        width: 540px;
        height: 36px;
    }
    
    input[type=text], select {
        width: 540px;
        height: 36px;
    }
    
    #message {
        width: 530px;
        height: 190px;
    }
/* *************************************************** */



